.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type="button",data-toggle="collapse",data-target=".navbar-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/") Home
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          a(href='/') Index
        li
          a(href='/about') About
        li
          a(href='/contact') Contact
      include loginstatus