extends layout

block content
  h1= title
  if user
    p Logged in as: 
      b #{user.username}
      |.
    a(href='/logout') Logout
  else
    <a href='/login'>Login</a> | <a href='/signup'>Sign up</a>
