extends layout

block content
  .jumbotron
    h1 Node.js
    p.lead Node.js is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.
    p
      a.btn.btn-primary.btn-large(href="http://nodejs.org" ) Learn more &raquo;