extends layout

block content
  if error
    <p>There was an error signing up: #{error}.</p>
  else
    h2 Register
    hr
    .row
      .col-md-8
        form(method="post",action='/signup')
          fieldset
            legend Register
            .form-group
              label.col-md-2.control-label(for="name") 姓名:
              .col-md-10
                input.form-control(type="text", name="name")
            .form-group
              label.col-md-2.control-label(for="idno") 身份证号:
              .col-md-10
                input.form-control(type="text", name="idno")
            .form-group
              label.col-md-2.control-label(for="email") 邮箱:
              .col-md-10
                input.form-control(type="text", name="email")
            .form-group
              label.col-md-2.control-label(for="phone") 手机号:
              .col-md-10
                input.form-control(type="text", name="phone")
            .form-group
              label.col-md-2.control-label(for="password") 密码:
              .col-md-10
                input.form-control(type="password", name="password")
            .form-group
              label.col-md-2.control-label(for="password") 确认密码:
              .col-md-10
                input.form-control(type="password", name="password_confirmation")
            .form-group
              .col-md-offset-2.col-md-10
                input.btn.btn-default(type="submit") 
 